body{
   background-color: whitesmoke; 
}
h1{
    font-family: sans-serif;
}
table{
    border: 5;
    border-color: red;
    text-align: center;
    font-family: sans-serif;
}
footer,p{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}